In [2]:
import pandas as pd
import psycopg2 as pg
from sqlalchemy import create_engine

In [3]:
connectstring = "postgresql+psycopg2://lhl_student:lhl_student@lhl-data-bootcamp.crzjul5qln0e.ca-central-1.rds.amazonaws.com:5432/mid_term_project"

engine = create_engine(connectstring) #make connection with database

pd.set_option('display.expand_frame_repr', False)

In [3]:
flight_data_raw = pd.read_sql("SELECT * FROM flights TABLESAMPLE SYSTEM(5)", engine)
flight_data_raw.to_csv('flightData4.csv')

In [4]:
df = pd.read_csv('flightData4.csv')

C:\Users\Eduardo\AppData\Local\Temp\ipykernel_3660\839690608.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('flightData4.csv')

In [6]:
df.head(2)

   Unnamed: 0     fl_date mkt_unique_carrier branded_code_share mkt_carrier  mkt_carrier_fl_num op_unique_carrier tail_num  op_carrier_fl_num  origin_airport_id  ... distance carrier_delay  weather_delay nas_delay security_delay  late_aircraft_delay  first_dep_time  total_add_gtime  longest_add_gtime  no_name
0           0  2018-01-01                 B6                 B6          B6                 238                B6   N583JB                238              13204  ...   1050.0         107.0            0.0       0.0            0.0                  0.0             NaN              NaN                NaN      NaN
1           1  2018-01-01                 B6                 B6          B6                 244                B6   N715JB                244              14027  ...   1023.0          30.0            0.0       5.0            0.0                  0.0             NaN              NaN                NaN      NaN

[2 rows x 43 columns]

In [7]:
df.columns

Index(['Unnamed: 0', 'fl_date', 'mkt_unique_carrier', 'branded_code_share',
       'mkt_carrier', 'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled',
       'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'first_dep_time', 'total_add_gtime',
       'longest_add_gtime', 'no_name'],
      dtype='object')

In [4]:
# extracting information for fuel_consumption

fuel_consumption_data_raw = pd.read_sql("SELECT * FROM fuel_comsumption TABLESAMPLE SYSTEM(5)", engine)
fuel_consumption_data_raw.to_csv('fuel_consumption.csv')

In [4]:
# extracting information for passengers

passenger_data_raw = pd.read_sql("SELECT * FROM passengers TABLESAMPLE SYSTEM(5)", engine)
passenger_data_raw.to_csv('passengers.csv')

In [6]:
# test data for submission CSV 

submission_csv_raw = pd.read_sql("select * from flights_test LIMIT 200", engine)
submission_csv_raw.to_csv('submission_csv_test_data.csv')

In [8]:
#identifying what our test features are

df_test = pd.read_csv('submission_csv_test_data.csv')
df_test.columns

Index(['Unnamed: 0', 'fl_date', 'mkt_unique_carrier', 'branded_code_share',
       'mkt_carrier', 'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time',
       'crs_arr_time', 'dup', 'crs_elapsed_time', 'flights', 'distance'],
      dtype='object')