In [83]:
import pandas as pd
import numpy as np

In [84]:
raw_data = pd.read_csv('Flight_Data.csv', parse_dates=['fl_date'])

C:\Users\Eduardo\AppData\Local\Temp\ipykernel_12732\2317934883.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data = pd.read_csv('Flight_Data.csv', parse_dates=['fl_date'])

In [85]:
raw_data = raw_data.sample(frac=0.25)

In [86]:
model_features = ['fl_date', 'mkt_carrier', 'arr_delay','dep_delay', 'tail_num', 'mkt_carrier_fl_num', 'origin',
       'dest', 'crs_dep_time', 'crs_arr_time',
       'crs_elapsed_time', 'distance']

model_df_raw = raw_data[model_features]

In [87]:
model_df_raw['arr_delay'] = model_df_raw['arr_delay'].clip(lower=0)

C:\Users\Eduardo\AppData\Local\Temp\ipykernel_12732\2353730469.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_df_raw['arr_delay'] = model_df_raw['arr_delay'].clip(lower=0)

In [88]:
# model_df['dep_delay'] = model_df['dep_delay'].clip(lower=0)

In [89]:
# model_df_raw['total_delay'] = model_df_raw['dep_delay'] +model_df_raw['arr_delay']

In [90]:
columns_model = ['fl_date', 'mkt_carrier', 'arr_delay','dep_delay', 'tail_num', 'mkt_carrier_fl_num', 'origin',
       'dest', 'crs_dep_time', 'crs_arr_time',
       'crs_elapsed_time', 'distance']

In [91]:
model_df = model_df_raw[columns_model]

In [92]:
greater_than_zero_count = model_df[model_df['arr_delay' ] > 0]

#create a new object to represent DF with values greater than 0 (index with a boolean equation)

In [93]:
df_carriers_grouped = greater_than_zero_count.groupby('mkt_carrier').agg(count_carrier_delay = ('arr_delay', 'count')).reset_index()

In [94]:
carrier_grouped_mean = model_df.groupby('mkt_carrier').agg(avg_carrier_delay = ('arr_delay', 'mean'))

In [95]:
df_carriers_grouped = df_carriers_grouped.merge(carrier_grouped_mean,
                                    left_on='mkt_carrier', 
                                    right_on = 'mkt_carrier',
                                    how='inner')

#merging mean,sum, and count into a single DF

In [96]:
model_df = model_df.merge(df_carriers_grouped,
                                    left_on='mkt_carrier', 
                                    right_on = 'mkt_carrier',
                                    how='inner')

In [97]:
df_origin_grouped = greater_than_zero_count.groupby('origin').agg(count_origin_delay = ('arr_delay', 'count')).reset_index()

In [98]:
origin_grouped_mean = model_df.groupby('origin').agg(avg_origin_delay = ('arr_delay', 'mean')).reset_index()

In [99]:
df_origin_grouped = df_origin_grouped.merge(origin_grouped_mean,
                                    left_on='origin', 
                                    right_on = 'origin',
                                    how='inner')

#merging mean,sum, and count into a single DF

In [100]:
model_df = model_df.merge(df_origin_grouped,
                                    left_on='origin', 
                                    right_on = 'origin',
                                    how='inner')

In [101]:
df_dest_grouped = greater_than_zero_count.groupby('dest').agg(count_dest_delay = ('arr_delay', 'count')).reset_index()

In [102]:
dest_grouped_mean = model_df.groupby('dest').agg(avg_dest_delay = ('arr_delay', 'mean')).reset_index()

In [103]:
df_dest_grouped = df_dest_grouped.merge(dest_grouped_mean,
                                    left_on='dest', 
                                    right_on = 'dest',
                                    how='inner')

#merging mean,sum, and count into a single DF

In [104]:
model_df = model_df.merge(df_dest_grouped,
                                    left_on='dest', 
                                    right_on = 'dest',
                                    how='inner')

In [105]:
df_route_group = greater_than_zero_count.groupby('mkt_carrier_fl_num').agg(count_route_delay = ('arr_delay', 'count')).reset_index()

In [106]:
route_group_mean = model_df.groupby('mkt_carrier_fl_num').agg(avg_route_delay = ('arr_delay', 'mean')).reset_index()

In [107]:
df_route_group = df_route_group.merge(route_group_mean,
                                    left_on='mkt_carrier_fl_num', 
                                    right_on = 'mkt_carrier_fl_num',
                                    how='inner')

#merging mean,sum, and count into a single DF

In [108]:
model_df = model_df.merge(df_route_group,
                                    left_on='mkt_carrier_fl_num', 
                                    right_on = 'mkt_carrier_fl_num',
                                    how='inner')

In [109]:
df_tailnum_grouped = greater_than_zero_count.groupby('tail_num').agg(count_tailnum_delay = ('arr_delay', 'count')).reset_index()

In [110]:
tailnum_grouped_mean = model_df.groupby('tail_num').agg(avg_tailnum_delay = ('arr_delay', 'mean')).reset_index()

In [111]:
df_tailnum_grouped = df_tailnum_grouped.merge(tailnum_grouped_mean,
                                    left_on='tail_num', 
                                    right_on = 'tail_num',
                                    how='inner')

#merging mean,sum, and count into a single DF

In [112]:
model_df = model_df.merge(df_tailnum_grouped,
                                    left_on='tail_num', 
                                    right_on = 'tail_num',
                                    how='inner')

In [113]:
df_distance_grouped = greater_than_zero_count.groupby('distance').agg(count_delay_distance = ('arr_delay', 'count')).reset_index()

In [114]:
distance_grouped_mean = model_df.groupby('distance').agg(avg_delay_distance = ('arr_delay', 'mean')).reset_index()

In [115]:
df_distance_grouped = df_distance_grouped.merge(distance_grouped_mean,
                                    left_on='distance', 
                                    right_on = 'distance',
                                    how='inner')

#merging mean,sum, and count into a single DF

In [116]:
model_df = model_df.merge(df_distance_grouped,
                                    left_on='distance', 
                                    right_on = 'distance',
                                    how='inner')

In [117]:
model_df.head(5)

,fl_date,mkt_carrier,arr_delay,dep_delay,tail_num,mkt_carrier_fl_num,origin,dest,crs_dep_time,crs_arr_time,...,count_origin_delay,avg_origin_delay,count_dest_delay,avg_dest_delay,count_route_delay,avg_route_delay,count_tailnum_delay,avg_tailnum_delay,count_delay_distance,avg_delay_distance
0,2018-08-12,DL,15.0,12.0,N301DQ,1051,ATL,BHM,1416,1404,...,3092,11.100816,185,12.162745,17,13.052632,12,25.217391,86,8.71875
1,2018-07-12,DL,16.0,-1.0,N306DQ,1051,ATL,BHM,1416,1404,...,3092,11.100816,185,12.162745,17,13.052632,9,8.000000,86,8.71875
2,2018-03-10,DL,0.0,13.0,N306DQ,1626,BHM,ATL,1700,1909,...,174,15.696429,2811,11.799395,17,13.700000,9,8.000000,86,8.71875
3,2019-07-09,DL,0.0,-1.0,N916DL,1051,ATL,BHM,1405,1357,...,3092,11.100816,185,12.162745,17,13.052632,11,32.333333,86,8.71875
4,2019-11-26,DL,0.0,-3.0,N916DL,2438,ATL,BHM,1900,1854,...,3092,11.100816,185,12.162745,9,8.866667,11,32.333333,86,8.71875

In [118]:
model_df.isnull().sum()

fl_date                    0
mkt_carrier                0
arr_delay               3196
dep_delay               2662
tail_num                   0
mkt_carrier_fl_num         0
origin                     0
dest                       0
crs_dep_time               0
crs_arr_time               0
crs_elapsed_time           0
distance                   0
count_carrier_delay        0
avg_carrier_delay          0
count_origin_delay         0
avg_origin_delay           0
count_dest_delay           0
avg_dest_delay             0
count_route_delay          0
avg_route_delay            0
count_tailnum_delay        0
avg_tailnum_delay          0
count_delay_distance       0
avg_delay_distance         0
dtype: int64

In [119]:
model_df.fillna(0, inplace=True)

In [120]:
model_df.shape

(195552, 24)

In [121]:
# save Dataframe used in model

model_df.to_csv('final model.csv')

In [122]:
X = model_df
y = model_df['arr_delay']

In [123]:
X = X.drop(['fl_date','arr_delay','dep_delay','mkt_carrier','origin','dest','tail_num','mkt_carrier_fl_num'], axis=1)

In [124]:
X.shape

(195552, 16)

In [125]:
y.shape

(195552,)

In [126]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [127]:
scaler = MinMaxScaler()
scaler.fit_transform(X)

array([[0.60008482, 0.58482701, 0.04744526, ..., 0.10034822, 0.16283525,
        0.05414316],
       [0.60008482, 0.58482701, 0.04744526, ..., 0.03174392, 0.16283525,
        0.05414316],
       [0.72052587, 0.79533139, 0.06021898, ..., 0.03174392, 0.16283525,
        0.05414316],
       ...,
       [0.85411366, 0.21842434, 0.243309  , ..., 0.01182096, 0.01149425,
        0.1997502 ],
       [0.63994911, 0.76781992, 0.25729927, ..., 0.01182096, 0.01149425,
        0.1997502 ],
       [0.6547922 , 0.80616924, 0.30413625, ..., 0.05533271, 0.        ,
        0.20902846]])

In [128]:
X.shape, y.shape

((195552, 16), (195552,))

In [129]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [130]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((136886, 16), (58666, 16), (136886,), (58666,))

In [131]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor



import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix,auc,roc_auc_score
from sklearn.metrics import recall_score, precision_score, accuracy_score, f1_score, mean_squared_error

In [132]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((136886, 16), (136886,), (58666, 16), (58666,))

In [133]:
reg = LinearRegression().fit(X_train, y_train)
Rsquared = reg.score(X_test,y_test)

print(Rsquared)

#reg.predict(test_data)

0.09002963388400387

In [134]:
rfc = RandomForestRegressor()
rfc.fit(X_train, y_train)
performance = rfc.score(X_test,y_test)
print(performance)

# rfc.predict(test_data)

0.12295610148038316

In [229]:
#use test data

test_data_raw = pd.read_csv('submission_csv_test_data.csv', parse_dates=['fl_date'])

In [230]:
test_data_raw.head(5)

,Unnamed: 0,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,...,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,0,2020-01-01,WN,WN,WN,5888,WN,N951WN,5888,13891,...,"Ontario, CA",14771,SFO,"San Francisco, CA",1810,1945,N,95,1,363
1,1,2020-01-01,WN,WN,WN,6276,WN,N467WN,6276,13891,...,"Ontario, CA",14771,SFO,"San Francisco, CA",1150,1320,N,90,1,363
2,2,2020-01-01,WN,WN,WN,4598,WN,N7885A,4598,13891,...,"Ontario, CA",14831,SJC,"San Jose, CA",2020,2130,N,70,1,333
3,3,2020-01-01,WN,WN,WN,4761,WN,N551WN,4761,13891,...,"Ontario, CA",14831,SJC,"San Jose, CA",1340,1455,N,75,1,333
4,4,2020-01-01,WN,WN,WN,5162,WN,N968WN,5162,13891,...,"Ontario, CA",14831,SJC,"San Jose, CA",915,1035,N,80,1,333

In [231]:
model_df.columns

Index(['fl_date', 'mkt_carrier', 'arr_delay', 'dep_delay', 'tail_num',
       'mkt_carrier_fl_num', 'origin', 'dest', 'crs_dep_time', 'crs_arr_time',
       'crs_elapsed_time', 'distance', 'count_carrier_delay',
       'avg_carrier_delay', 'count_origin_delay', 'avg_origin_delay',
       'count_dest_delay', 'avg_dest_delay', 'count_route_delay',
       'avg_route_delay', 'count_tailnum_delay', 'avg_tailnum_delay',
       'count_delay_distance', 'avg_delay_distance'],
      dtype='object')

In [232]:
X.columns

Index(['crs_dep_time', 'crs_arr_time', 'crs_elapsed_time', 'distance',
       'count_carrier_delay', 'avg_carrier_delay', 'count_origin_delay',
       'avg_origin_delay', 'count_dest_delay', 'avg_dest_delay',
       'count_route_delay', 'avg_route_delay', 'count_tailnum_delay',
       'avg_tailnum_delay', 'count_delay_distance', 'avg_delay_distance'],
      dtype='object')

In [233]:
test_data_columns = ['fl_date', 'mkt_carrier', 'tail_num', 'mkt_carrier_fl_num', 'origin',
       'dest', 'crs_dep_time', 'crs_arr_time',
       'crs_elapsed_time', 'distance']


test_df_engineered = test_data_raw[test_data_columns]

In [271]:
df_carriers_grouped.columns, df_carriers_grouped.shape

(Index(['mkt_carrier', 'count_carrier_delay', 'avg_carrier_delay'], dtype='object'),
 (11, 3))

In [234]:
test_df_engineered = test_df_engineered.merge(df_carriers_grouped,
                                    left_on='mkt_carrier', 
                                    right_on = 'mkt_carrier',
                                    how='inner')

In [235]:
test_df_engineered = test_df_engineered.merge(df_origin_grouped,
                                    left_on='origin', 
                                    right_on = 'origin',
                                    how='inner')

In [236]:
test_df_engineered = test_df_engineered.merge(df_dest_grouped,
                                    left_on='dest', 
                                    right_on = 'dest',
                                    how='inner')

In [237]:
test_df_engineered = test_df_engineered.merge(df_route_group,
                                    left_on='mkt_carrier_fl_num', 
                                    right_on = 'mkt_carrier_fl_num',
                                    how='inner')

In [238]:
test_df_engineered = test_df_engineered.merge(df_tailnum_grouped,
                                    left_on='tail_num', 
                                    right_on = 'tail_num',
                                    how='inner')

In [239]:
test_df_engineered = test_df_engineered.merge(df_distance_grouped,
                                    left_on='distance', 
                                    right_on = 'distance',
                                    how='inner')

In [240]:
test_df_engineered.shape

(193, 22)

In [241]:
test_data_columns_2 = ['crs_dep_time', 'crs_arr_time', 'crs_elapsed_time', 'distance',
       'count_carrier_delay', 'avg_carrier_delay', 'count_origin_delay',
       'avg_origin_delay', 'count_dest_delay', 'avg_dest_delay',
       'count_route_delay', 'avg_route_delay', 'count_tailnum_delay',
       'avg_tailnum_delay', 'count_delay_distance', 'avg_delay_distance']

test_df_engineered = test_df_engineered[test_data_columns_2]

In [242]:
test_df_engineered

,crs_dep_time,crs_arr_time,crs_elapsed_time,distance,count_carrier_delay,avg_carrier_delay,count_origin_delay,avg_origin_delay,count_dest_delay,avg_dest_delay,count_route_delay,avg_route_delay,count_tailnum_delay,avg_tailnum_delay,count_delay_distance,avg_delay_distance
0,1810,1945,95,363,12087,10.697139,159,8.521505,1691,19.797774,8,21.360000,23,10.946429,82,14.801858
1,1150,1320,90,363,12087,10.697139,159,8.521505,1691,19.797774,10,14.041667,8,8.352941,82,14.801858
2,2020,2130,70,333,12087,10.697139,159,8.521505,597,12.367112,7,52.590909,27,8.583333,45,11.848684
3,1340,1455,75,333,12087,10.697139,159,8.521505,597,12.367112,10,13.629630,17,11.574074,45,11.848684
4,915,1035,80,333,12087,10.697139,159,8.521505,597,12.367112,13,20.290323,18,12.357143,45,11.848684
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,1300,1700,180,1276,12087,10.697139,1495,12.009268,1160,12.411928,10,12.047619,22,11.775510,58,7.984848
189,1105,1415,130,833,12087,10.697139,1495,12.009268,226,13.749186,8,7.736842,18,10.195652,46,17.416058
190,1840,2135,115,833,12087,10.697139,1495,12.009268,226,13.749186,6,35.137931,12,16.903226,46,17.416058
191,1020,1615,235,1814,12087,10.697139,1495,12.009268,420,13.660543,6,11.333333,12,13.368421,41,6.478261
192,1020,1630,250,1891,12087,10.697139,1495,12.009268,560,16.638889,7,10.800000,12,5.605263,15,15.783784

In [243]:
# test_df_features = ['fl_date','mkt_carrier','origin','dest','tail_num','mkt_carrier_fl_num']
# test_df = test_df.drop(['fl_date','mkt_carrier','origin','dest','tail_num','mkt_carrier_fl_num'], axis=1)

In [244]:
test_df_engineered.shape

(193, 16)

In [245]:
scaler.fit_transform(test_df_engineered)

array([[0.74052478, 0.82905983, 0.1627907 , ..., 0.38296425, 0.35064935,
        0.62823647],
       [0.35568513, 0.56196581, 0.13953488, ..., 0.28413588, 0.35064935,
        0.62823647],
       [0.86297376, 0.90811966, 0.04651163, ..., 0.29291528, 0.19047619,
        0.45563882],
       ...,
       [0.75801749, 0.91025641, 0.25581395, ..., 0.60995612, 0.19480519,
        0.78102294],
       [0.27988338, 0.68803419, 0.81395349, ..., 0.47525757, 0.17316017,
        0.14176544],
       [0.27988338, 0.69444444, 0.88372093, ..., 0.17943186, 0.06060606,
        0.68562496]])

In [246]:
linear_predict =  reg.predict(test_df_engineered)

In [247]:
RFR_predict = rfc.predict(test_df_engineered)

In [248]:
print(RFR_predict)

[17.24       11.57       26.67       22.77        3.63        2.28
 24.426       3.86       12.81       22.63        1.4        23.21
 15.53        3.58       13.84       31.84        0.74       24.13
  4.28        4.34        9.03       14.15666667 19.82        2.14
  4.47        4.15       11.72       11.51       33.93       22.91
  2.43        4.32        8.18       19.12       15.95        6.92
  4.6        14.07        0.82        0.9        13.05       12.81
 21.33        2.93       20.54       19.46       11.09       24.86
 13.79        8.39       17.85        1.8         8.02        3.52
 35.23        7.36        2.2        49.78        6.08        6.66
  2.71        4.52        7.99        6.84        6.69       21.89
  4.22        9.68        6.69        5.82        4.19666667  2.84
  0.89        0.64        2.98       23.29        3.25        6.2
 16.67       20.77        6.68        2.85        3.45       12.4
  7.39        7.51        6.04        5.68       17.99        4.02
  4.82        1.86        4.48       17.89       17.24       18.98
  4.75        4.63        9.5         3.75       10.35       19.99
  7.25        9.62        4.35        4.07       19.44       21.98
 18.6        16.12        7.04        6.76       18.09       10.79
 16.158      28.45       19.6        22.09       24.56        4.14
  4.72        7.18        1.97        2.72        8.27       27.41
 10.81        5.27        8.43       11.82        0.86333333 24.64
 29.9         8.18        3.2        16.73       16.4        16.65
  7.8         0.79       11.58        2.56       10.28       11.53
  3.45        2.57        4.47       10.485      21.62       11.8
  6.83       15.7        16.12        6.76        4.61       17.28
 34.63        1.77        8.29        1.29       19.49        6.05
  4.52        7.49        5.29       10.         30.71        6.53
  1.54        3.99        5.25        7.07        9.79        3.54
 18.46       16.3         1.77666667 21.74       13.8         3.42
  1.96        8.64        3.73        3.91        1.94       17.29
 16.16       13.12       12.17        3.76       39.59        8.57
  6.53      ]

In [249]:
RFR_predict_columns = ['predicted_delay']
RFR_predict_DF = pd.DataFrame(RFR_predict, columns=RFR_predict_columns)

In [273]:
RFR_predict_DF.shape

(193, 1)

In [276]:
test_df_engineered.shape, test_df_engineered.columns

((193, 16),
 Index(['crs_dep_time', 'crs_arr_time', 'crs_elapsed_time', 'distance',
        'count_carrier_delay', 'avg_carrier_delay', 'count_origin_delay',
        'avg_origin_delay', 'count_dest_delay', 'avg_dest_delay',
        'count_route_delay', 'avg_route_delay', 'count_tailnum_delay',
        'avg_tailnum_delay', 'count_delay_distance', 'avg_delay_distance'],
       dtype='object'))

In [ ]:
fl_date,mkt_carrier,mkt_carrier_fl_num,origin,dest,predicted_delay

In [250]:
RFR_predict_DF.head(5)

   predicted_delay
0            17.24
1            11.57
2            26.67
3            22.77
4             3.63

In [251]:
RFR_predict_DF = RFR_predict_DF.clip(lower=0)

In [ ]:
RFR_predict_DF.to_csv('Flight_Prediction.csv')

In [252]:
final_features = ['fl_date','mkt_carrier','mkt_carrier_fl_num','origin','dest']
test_df = test_data_raw[final_features]

In [253]:
test_df = pd.concat([RFR_predict_DF, test_df], ignore_index=True)

In [254]:
test_df.head()

   predicted_delay fl_date mkt_carrier  mkt_carrier_fl_num origin dest
0            17.24     NaT         NaN                 NaN    NaN  NaN
1            11.57     NaT         NaN                 NaN    NaN  NaN
2            26.67     NaT         NaN                 NaN    NaN  NaN
3            22.77     NaT         NaN                 NaN    NaN  NaN
4             3.63     NaT         NaN                 NaN    NaN  NaN

In [267]:
test_df.reset_index()

,index,predicted_delay,fl_date,mkt_carrier,mkt_carrier_fl_num,origin,dest
0,0,17.24,NaT,NaN,NaN,NaN,NaN
1,1,11.57,NaT,NaN,NaN,NaN,NaN
2,2,26.67,NaT,NaN,NaN,NaN,NaN
3,3,22.77,NaT,NaN,NaN,NaN,NaN
4,4,3.63,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
581,581,NaN,2020-01-01,WN,1639.0,PHX,SAN
582,582,NaN,2020-01-01,WN,1737.0,PHX,SAN
583,583,NaN,2020-01-01,WN,3525.0,PHX,SAN
584,584,NaN,2020-01-01,WN,4297.0,PHX,SAN
585,585,NaN,2020-01-01,WN,4636.0,PHX,SAN

In [269]:
test_df.sort_values['fl_date']

TypeError: 'method' object is not subscriptable

In [255]:
RFR_predict_DF.shape, test_df.shape

((193, 1), (393, 6))

In [256]:
test_df = pd.concat([RFR_predict_DF, test_df], ignore_index=True)

In [257]:
test_df.head()

   predicted_delay fl_date mkt_carrier  mkt_carrier_fl_num origin dest
0            17.24     NaT         NaN                 NaN    NaN  NaN
1            11.57     NaT         NaN                 NaN    NaN  NaN
2            26.67     NaT         NaN                 NaN    NaN  NaN
3            22.77     NaT         NaN                 NaN    NaN  NaN
4             3.63     NaT         NaN                 NaN    NaN  NaN

In [258]:
# clf = LogisticRegression(random_state=0).fit(X_train, y_train)
# print(clf.score(X_test,y_test))

# #clf.predict(test_data)

In [259]:
# G_NB = GaussianNB()
# G_NB.fit(X_train, y_train)
# print(G_NB.score(X_test,y_test))

# # G_NB.predict(test_data)

# G_NB_pf = GaussianNB()
# G_NB_pf.partial_fit(X_train, y_train, np.unique(y_train))
# print(G_NB_pf.score(X_test,y_test))

# G_NB_pf.predict(test_data)

In [260]:
from sklearn.preprocessing import OneHotEncoder

In [261]:
# cat_features = ['mkt_carrier','origin','dest']
# cat_variables = X_train[cat_features]

In [262]:
# oneh = OneHotEncoder(handle_unknown="error", sparse=False)
# oneh.fit(cat_variables)
# X_test = oneh.transform(df_test_features['mkt_carrier'])

In [263]:
# cat_v = oneh.transform(cat_variables)

# df_cat_v = pd.DataFrame(cat_v, columns=oneh.get_feature_names_out())